---
import InsuranceQuoteForm from './InsuranceQuoteForm.astro';
---

<div class="lg:pl-8 relative z-10">
  <InsuranceQuoteForm
    insuranceType="General Quote"
    title="Get Your Free Quote"
    showMessage={true}
  />
</div>
